services:
    _defaults:
        autowire: true
        autoconfigure: true

    FourAngles\ContaoGoogleCalendarBundle\:
        resource: '../src/'
        exclude:
            - '../src/FourAnglesContaoGoogleCalendarBundle.php'
            - '../src/DependencyInjection/'
            - '../src/ContaoManager/'

    # Google Calendar Service
    FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService:
        public: true
        arguments:
            - '%kernel.project_dir%'
            - '@monolog.logger.google_calendar'
            - '@contao.framework'

    # Event Listeners
    FourAngles\ContaoGoogleCalendarBundle\EventListener\CalendarEventsSyncListener:
        arguments:
            - '@FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService'
            - '@monolog.logger.google_calendar'

    FourAngles\ContaoGoogleCalendarBundle\EventListener\GoogleCalendarCronListener:
        arguments:
            - '@FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService'
            - '@monolog.logger.google_calendar'
        tags:
            - { name: contao.hook, hook: minutely }
            - { name: contao.hook, hook: hourly }

    FourAngles\ContaoGoogleCalendarBundle\EventListener\GoogleCalendarInfoListener: ~

    # Commands
    FourAngles\ContaoGoogleCalendarBundle\Command\GoogleCalendarSyncCommand:
        arguments:
            - '@FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService'
            - '@contao.framework'
        tags:
            - { name: 'console.command' }

    # Controllers
    FourAngles\ContaoGoogleCalendarBundle\Controller\GoogleCalendarBackendController:
        arguments:
            - '@FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService'
            - '@monolog.logger.google_calendar'
            - '@contao.framework'
        tags:
            - { name: 'controller.service_arguments' }