services:
    _defaults:
        autowire: true
        autoconfigure: true

    FourAngles\ContaoGoogleCalendarBundle\:
        resource: '../src/'
        exclude:
            - '../src/FourAnglesContaoGoogleCalendarBundle.php'
            - '../src/DependencyInjection/'
            - '../src/ContaoManager/'

    # Google Calendar Service
    FourAngles\ContaoGoogleCalendarBundle\Service\GoogleCalendarService:
        public: true
        arguments:
            $projectDir: '%kernel.project_dir%'

    # Event Listeners
    FourAngles\ContaoGoogleCalendarBundle\EventListener\CalendarEventsSyncListener: ~

    FourAngles\ContaoGoogleCalendarBundle\EventListener\GoogleCalendarCronListener: ~

    FourAngles\ContaoGoogleCalendarBundle\EventListener\GoogleCalendarInfoListener: ~

    # Commands
    FourAngles\ContaoGoogleCalendarBundle\Command\GoogleCalendarSyncCommand:
        tags:
            - { name: 'console.command' }